<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>911283007243-pu30ul84rv5lne7e7p7l53cdmkr7401v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911283007243-pu30ul84rv5lne7e7p7l53cdmkr7401v</string>
	<key>API_KEY</key>
	<string>AIzaSyABDngIAgHpQJl1HaLkYXNElAXs7yW2vEM</string>
	<key>GCM_SENDER_ID</key>
	<string>911283007243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grandaddymac.RNDM</string>
	<key>PROJECT_ID</key>
	<string>rndm-58620</string>
	<key>STORAGE_BUCKET</key>
	<string>rndm-58620.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911283007243:ios:31af543fcb12f6c3</string>
	<key>DATABASE_URL</key>
	<string>https://rndm-58620.firebaseio.com</string>
</dict>
</plist>